# EmmaTommy repository .gitIgnore
# $ cat .gitignore

# Ignore the target folder for every projects
DataModel/target/
EmmaHandler/target/
EmmaTommyConverter/target/
TommyDataHandler/target/
TommyDataPoster/target/

# Ignore every *.class file
*.class

# Ignore the logs
logs/*
logs_test/*
DataModel/logs/*
DataModel/logs_test/*
EmmaHandler/logs/*
EmmaHandler/logs_test/*
EmmaTommyConverter/logs/*
EmmaTommyConverter/logs_test/*
TommyDataHandler/logs/*
TommyDataHandler/logs_test/*
TommyDataPoster/logs/*
TommyDataPoster/logs_test/*

# Ignore the folder for full xml downloads (since it may contains sensible patient information)
EmmaHandler/data_xml_download/*

# Ignore the folder for jsons produced files (since it may contains sensible patient information)
EmmaHandler/data_json_missioni_download/*

# Ignore the folder for jsons produced files (since it may contains sensible patient information)
EmmaTommyConverter/data_json_servizi_download/*

# Ignore the folder for jsons test files (since it may contains sensible patient/emt information)
EmmaHandler/data_json_missioni_download/*
EmmaTommyConverter/data_json_missioni_test/*
TommyPoster/data_json_test/*

# Ignore the docs/xml 
docs/xmlParsing_REST_MISSIONI
docs/xmlParsing_REST_MISSIONI/*.doc
docs/xmlParsing_REST_MISSIONI/*.docx
docs/xmlParsing_REST_MISSIONI/*.pdf
docs/xmlParsing_REST_MISSIONI/*.xls
docs/xmlParsing_REST_MISSIONI/*.xlsx

# Ignore the docs/RestTommy/specifiche.txt
docs/RestTommy/specifiche.txt

# Ignore the following conf files with sensible data (public ips, users and psswd even masked)
EmmaHandler/conf/emma_psswd.conf
TommyDataHandler/conf/tommy_refs.conf
TommyDataPoster/conf/tommy_refs.conf

# Ignore the following scripts
scripts/test/mysql/psswd.txt

# Ignore eclipse files
.settings
.classpath
.project

# Ignore Jars file
jars
/.metadata/
