$ cat .gitignore

# Ignore every *.class file
*.class

# For every project, ignore the target folder
DataModel/target/
emmaREST/target

# Ignore the logs
logs/*

# Ignore the folder for full xml downloads (since it may contains sensible patient information)
data_xml_download/

# Ignore the folder for jsons produced files (since it may contains sensible patient information)
data_json_missioni_download/

# Ignore the folder for jsons produced files (since it may contains sensible patient information)
data_json_servizi_download/

# Ignore the docs/xml 
docs/xmlParsing_REST_MISSIONI
docs/xmlParsing_REST_MISSIONI/*.doc
docs/xmlParsing_REST_MISSIONI/*.docx
docs/xmlParsing_REST_MISSIONI/*.pdf
docs/xmlParsing_REST_MISSIONI/*.xls
docs/xmlParsing_REST_MISSIONI/*.xlsx

# Ignore the docs/RestTommy/specifiche.txt
docs/RestTommy/specifiche.txt

# Ignore the following conf files with sensible data (public ips, users and psswd even masked)
conf/emma_psswd.conf
conf/tommy_refs.conf

# Ignore the following scripts
scripts/test/mysql/psswd.txt

# Ignore eclipse files
.settings
.classpath
.project

# Ignore Jars file
jars
/.metadata/
