<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--RollingFile name="EmmaRESTActor" fileName="../logs/EmmaRESTActor.log" filePattern="../logs/$${date:yyyy-MM}/EmmaRESTActor-%d{MM-dd-yyyy}-%i.log"-->
        <RollingFile name="EmmaRESTActor" fileName="../logs/EmmaRESTActor.log" filePattern="../logs/EmmaRESTActor-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--TimeBasedTriggeringPolicy interval="24" modulate="true"/-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="EmmaDataModel" fileName="../logs/EmmaDataModel.log" filePattern="../logs/EmmaDataModel-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--TimeBasedTriggeringPolicy interval="24" modulate="true"/-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="EmmaXMLParserActor" fileName="../logs/EmmaXMLParserActor.log" filePattern="../logs/EmmaXMLParserActor-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--TimeBasedTriggeringPolicy interval="24" modulate="true"/-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <!--RollingFile name="EmmaJSONProducer" fileName="../logs/EmmaJSONProducer.log" filePattern="../logs/$${date:yyyy-MM}/EmmaJSONProducer-%d{MM-dd-yyyy}-%i.log"-->
        <RollingFile name="EmmaJSONProducer" fileName="../logs/EmmaJSONProducer.log" filePattern="../logs/EmmaJSONProducer-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--TimeBasedTriggeringPolicy interval="24" modulate="true"/-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <!--RollingFile name="EmmaOrchestrator" fileName="../logs/EmmaOrchestrator.log" filePattern="../logs/$${date:yyyy-MM}/EmmaOrchestrator-%d{MM-dd-yyyy}-%i.log"-->
        <RollingFile name="EmmaOrchestrator" fileName="../logs/EmmaOrchestrator.log" filePattern="../logs/EmmaOrchestrator-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--TimeBasedTriggeringPolicy interval="24" modulate="true"/-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="EmmaRESTActor" level="trace">
            <AppenderRef ref="EmmaRESTActor"/>
        </Logger>
        <Logger name="EmmaDataModel" level="trace">
            <AppenderRef ref="EmmaDataModel"/>
        </Logger>
        <Logger name="EmmaXMLParserActor" level="trace">
            <AppenderRef ref="EmmaXMLParserActor"/>
        </Logger>
         <Logger name="EmmaJSONProducer" level="trace">
            <AppenderRef ref="EmmaJSONProducer"/>
        </Logger>
         <Logger name="EmmaOrchestrator" level="trace">
            <AppenderRef ref="EmmaOrchestrator"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
    
    
 
